*.svelte linguist-detectable
*.svelte linguist-language=Svelte
./src/core/* linguist-vendored
static/avatar.png filter=lfs diff=lfs merge=lfs -text
static/discord.png filter=lfs diff=lfs merge=lfs -text
static/img filter=lfs diff=lfs merge=lfs -text
static/github.png filter=lfs diff=lfs merge=lfs -text
static/gitlab.png filter=lfs diff=lfs merge=lfs -text
static/linkedin.png filter=lfs diff=lfs merge=lfs -text
static/resume.pdf filter=lfs diff=lfs merge=lfs -text
static/fonts filter=lfs diff=lfs merge=lfs -text
static/fonts/fira_code_mono filter=lfs diff=lfs merge=lfs -text
static/fonts/fira_code_mono/fira_code_mono.ttf filter=lfs diff=lfs merge=lfs -text
static/fonts/fira_code_mono/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
