@font-face {
    font-family: "Terminess (TTF) Nerd Font Complete";
    font-style: normal;
    font-weight: 400;
    src: local("Terminess (TTF) Nerd Font Complete"), url("/fonts/terminess/terminess.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Code Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Fira Code Mono"), url("/fonts/fira_code_mono/fira_code_mono.ttf") format("truetype");
}

$blue: #6c6cf9;

html {
    font-size: 18px;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
}

i {
    font-family: "Fira Code Mono";
    width: 1.4em;
}

a {
    color: $blue;
    text-decoration: none;
}

code {
    background-color: #e3e3e3;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: "Fira Code Mono";

    main {
        display: grid;
        grid-template-columns: 400px 1fr ;
        height: 100vh;

        .badges {
            position: absolute;
            right: 0.8rem;
            top: 9rem;

            p {
                display: flex;
                flex-direction: column;
                margin: 0;

                a:not(:last-child) {
                    margin-bottom: 0.2rem;
                }
            }
        }

        nav.left {
            display: flex;
            flex-direction: column;
            background-color: #f9fafb;
            border-right: 1px solid #e5e7eb;
            align-items: center;
            padding: 50px 25px;
            font-family: "Terminess (TTF) Nerd Font Complete";

            img.avatar {
                border-radius: 50%;
                width: 70%;
            }

            p {
                font-size: 1.5rem;
            }
        }

        section {
            padding: 2rem;
        }

        section.project-full {
            $preview-height: 300px;
            $preview-width: 240px;
            
            display: grid;
            grid-template-columns: repeat(auto-fill, $preview-width);
            grid-template-rows: repeat(auto-fill, $preview-height);
            grid-column-gap: 1.5rem;
            grid-row-gap: 1.5rem;

            .preview {
                display: flex;
                flex-direction: column;
                height: $preview-height;
                width: $preview-width;
                border: 1px solid #e5e7eb;
                cursor: pointer;
                margin: 0;

                strong {
                    max-width: 90%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-block;
                    font-size: 0.9em;
                    text-transform: uppercase;
                    align-self: center;
                }

                img {
                    height: $preview-width;
                    display: block;
                }

                .tags {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    div {
                        display: flex;
                        font-size: 1.2em;

                        i {
                            width: 1em;
                            margin-left: 0.4em;
                        }
                    }
                }
            }
        }

        section.project {
            display: flex;
            flex-direction: column;
            width: 650px;
            margin: 0 auto;

            h1 {
                height: 3rem;
            }

            div.filler {
                flex: 1
            }

            nav.top {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                font-size: 1.3rem;
                height: 3rem;

                * {
                    display: flex;
                }

                div.container {
                    margin-right: 0.5em;
                }

                i {
                    margin-left: 0.4em;
                    width: 1em;
                }

                a.github {
                    border: 2px dashed $blue;
                    padding: 0.2em;
                }
            }

            h1.name {
                border-bottom: 2px dashed $blue;
            }

            img.preview {
                margin: 0 auto;
                max-width: 90%;
            }
        }
    }
}

