$themes: (
    gruvbox: (
        background-color: #282828,
        foreground-color: #ebdbb2,
        comment-color: #fabd2f,
        constant-color: #928374,
        invalid-color: #fb4934,
        keyword-color: #83a598,
        string-color: #98971a,
        variable-color: #ebdbb2,
    ),
    cobalt: (
        background-color: #193549,
        foreground-color: #fff,
        comment-color: #0088ff,
        constant-color: #ff628c,
        entity-color: #ffc600,
        invalid-color: #f44542,
        storage-type-function-color: #ff9d00,
        keyword-color: #ff9d00,
        meta-color: #9effff,
        meta-jsx-color: #fff,
        meta-brace-color: #e1efff,
        punctuation-color: #e1efff,
        punctuation-parameters-color: #ffee80,
        punctuation-template-expression-color: #ffee80,
        storage-color: #ffc600,
        storage-type-arrow-function-color: #ffc600,
        string-color: #a5ff90,
        string-template-color: #3ad900,
        support-color: #80ffbb,
        support-function-color: #ff9d00,
        support-variable-property-dom-color: #e1efff,
        variable-color: #e1efff,
    ),
    winter-is-coming: (
        background-color: #ffffff,
        foreground-color: #236ebf,
        comment-color: #357b42,
        string-color: #a44185,
        number-color: #174781,
        constant-color: #174781,
        built-in-constant-color: #174781,
        user-defined-constant-color: #174781,
        variable-color: #2f86d2,
        keyword-color: #7b30d0,
        storage-color: #da5221,
        storage-type-color: #0991b6,
        class-name-color: #1172c7,
        inherited-class-color: #b02767,
        function-name-color: #b1108e,
        function-argument-color: #b1108e,
        tag-name-color: #0444ac,
        html-other-color: #0071ce,
        entity-name-type-color: #0444ac,
        tag-attribute-color: #df8618,
        library-function-color: #08134a,
        library-constant-color: #174781,
        library-variable-color: #224555,
        invalid-color: #207bb8,
        invalid-deprecated-color: #207bb8,
        lists-color: #207bb8,
        headings-color: #4fb4d8,
        support-color: #87429a,
        quotes-color: #87429a,
        bold-color: #08134a,
        italic-color: #174781,
        link-url-color: #87429a,
    ),
    one-monokai: (
        background-color: #282c34,
        foreground-color: #ffffff,
        comment-color: #676f7d,
        string-color: #e5c07b,
        number-color: #c678dd,
        default-embedded-color-color: #abb2bf,
        built-in-constant-color: #56b6c2,
        user-defined-constant-color: #56b6c2,
        language-variable-color: #e06c75,
        keyword-color: #e06c75,
        keyword-operator-color: #e06c75,
        storage-color: #e06c75,
        types-color: #56b6c2,
        class-color: #61afef,
        variable-object-color: #61afef,
        variable-color: #61afef,
        other-variable-color: #abb2bf,
        inherited-class-color: #98c379,
        package-import-color: #61afef,
        function-name-color: #98c379,
        function-argument-color: #d19a66,
        function-call-color: #abb2bf,
        builtin-functions-color: #98c379,
        tag-name-color: #e06c75,
        tag-class-and-id-color: #56b6c2,
        tag-attribute-color: #98c379,
        library-constant-color: #56b6c2,
        json-property-color: #56b6c2,
        stylesheet-property-name-color: #abb2bf,
        css--pseudo-attribute-names-color: #56b6c2,
        stylesheet-property-value-color: #98c379,
        stylesheet-variable-color: #56b6c2,
        stylesheet-variable-string-color: #e5c07b,
        stylesheet-unit-color: #c678dd,
        stylesheet-function-color: #56b6c2,
        invalid-color: #f8f8f0,
        invalid-deprecated-color: #f8f8f0,
        json-string-color: #56b6c2,
        link-color: #61afef,
        diff-header-color: #75715e,
        diff-deleted-color: #e06c75,
        diff-inserted-color: #98c379,
        diff-changed-color: #e5c07b,
        markup--punctuation-color: #676f7d,
        markdown--link-color: #61afef,
        markup--heading-color: #e06c75,
        markup--quote-color: #98c379,
        markup--separator-color: #c678dd,
        markup--raw-color: #56b6c2,
        markup--list-punctuation-color: #ffffff,
    ),
    nord: (
        background-color: #212f3b,
        foreground-color: #eeffff,
        comment-color: #4c566a,
        constant-character-color: #ebcb8b,
        constant-character-escape-color: #ebcb8b,
        constant-language-color: #81a1c1,
        constant-numeric-color: #b48ead,
        constant-regexp-color: #ebcb8b,
        entity-name-function-color: #88c0d0,
        entity-name-tag-color: #81a1c1,
        entity-other-attribute-name-color: #8fbcbb,
        entity-other-inherited-class-color: #8fbcbb,
        invalid-deprecated-color: #d8dee9,
        invalid-color: #d8dee9,
        keyword-color: #81a1c1,
        keyword-operator-color: #81a1c1,
        keyword-other-new-color: #81a1c1,
        markup-changed-color: #ebcb8b,
        markup-deleted-color: #bf616a,
        markup-inserted-color: #a3be8c,
        meta-preprocessor-color: #5e81ac,
        punctuation-color: #eceff4,
        punctuation-definition-parameters-color: #eceff4,
        punctuation-definition-tag-color: #81a1c1,
        punctuation-definition-comment-color: #4c566a,
        punctuation-section-color: #eceff4,
        punctuation-section-embedded-color: #81a1c1,
        punctuation-terminator-color: #81a1c1,
        punctuation-variable-color: #81a1c1,
        storage-color: #81a1c1,
        string-color: #a3be8c,
        string-regexp-color: #ebcb8b,
        support-class-color: #8fbcbb,
        support-constant-color: #81a1c1,
        support-function-color: #88c0d0,
        support-function-construct-color: #81a1c1,
        support-type-color: #8fbcbb,
        support-type-exception-color: #8fbcbb,
        token-debug-color: #b48ead,
        token-error-color: #bf616a,
        token-info-color: #88c0d0,
        token-warning-color: #ebcb8b,
        variable-color: #d8dee9,
        variable-language-color: #81a1c1,
        variable-parameter-color: #d8dee9,
    ),
);

@mixin themify() {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
