$themes: (
	cobalt: (
		background-color: #193549,
		foreground-color: #fff,
		comment-color: #0088ff,
		constant-color: #ff628c,
		entity-color: #ffc600,
		invalid-color: #f44542,
		storage-type-function-color: #ff9d00,
		keyword-color: #ff9d00,
		meta-color: #9effff,
		meta-jsx-color: #fff,
		meta-brace-color: #e1efff,
		punctuation-color: #e1efff,
		punctuation-parameters-color: #ffee80,
		punctuation-template-expression-color: #ffee80,
		storage-color: #ffc600,
		storage-type-arrow-function-color: #ffc600,
		string-color: #a5ff90,
		string-template-color: #3ad900,
		support-color: #80ffbb,
		support-function-color: #ff9d00,
		support-variable-property-dom-color: #e1efff,
		variable-color: #e1efff,
	),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}